body{
background:#000;
color:#fff;
font-family:Arial;
text-align:center;
}

.container{
width:95%;
max-width:1000px;
margin:auto;
}

button{
padding:10px 20px;
margin:5px;
background:gold;
border:none;
cursor:pointer;
font-weight:bold;
}

#hasilSyair{
margin-top:20px;
padding:20px;
background:#111;
border:2px solid gold;
}

.shio-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
margin-top:20px;
}

.shio-item{
padding:10px;
background:#111;
border:1px solid #333;
}

.active-shio{
box-shadow:0 0 15px gold;
border:2px solid gold;
}

textarea{
width:95%;
height:200px;
margin-top:20px;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid #444;
padding:8px;
}

th{
background:#b00909;
}
