body{
  background:#000;
  color:#fff;
  font-family:Courier New;
  padding:20px;
}

textarea{
  width:100%;
  height:150px;
  margin-bottom:10px;
  background:#111;
  color:#0f0;
  padding:10px;
}

button{
  padding:10px 20px;
  margin-right:10px;
  background:red;
  color:white;
  border:none;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}

th,td{
  border:1px solid #444;
  padding:8px;
  text-align:center;
}
