body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
}

.center {
  margin-top: 150px;
}

.menu {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin: 10px;
}

.container {
  max-width: 600px;
  margin: auto;
}

select, button, textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: red;
  color: white;
  cursor: pointer;
}

.card {
  background: #990000;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
}

.back {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  text-decoration: none;
}
